/** Custom Select button**/
#room .whiteboard .select {
    position: relative;
    display: inline-block;
    background-color: #f1f1f1;
    float: left;
    margin-left: 5px;
    border-radius: 0.2rem;

}
#room .whiteboard .select i.fa-caret-down {
    position: absolute;
    right: 7px;
    top: 7px;
}
#room .whiteboard .select .option {
    display: none;
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    padding-right: 20px;
    border-radius: 0;
}
#room .whiteboard .select .option.active {
    display: block;
    background-color: #e2e2e2;
    border-radius: .2rem;
}
#room .whiteboard .select .option:hover {
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
}
#room .whiteboard .select .option span {
    min-width: 35px;
}
/** Custom Color Select button**/
#room .whiteboard .select .option.black .fa-square {
    color: black;
}
#room .whiteboard .select .option.red .fa-square {
    color: red;
}
#room .whiteboard .select .option.blue .fa-square {
    color: blue;
}
#room .whiteboard .select .option.green .fa-square {
    color: green;
}
#room .whiteboard .select .option.white .fa-square {
    color: white;
}
/** Custom Brush Size Select button**/
#room .whiteboard .select .option.extra-small hr {
    border-top: 1px solid black;
}
#room .whiteboard .select .option.small hr {
    border-top: 2px solid black;
}
#room .whiteboard .select .option.medium hr {
    border-top: 3px solid black;
}
#room .whiteboard .select .option.large hr {
    border-top: 5px solid black;
}
#room .whiteboard .select .option.extra-large hr {
    border-top: 10px solid black;
}


/** Button design**/
#room .whiteboard .line-size,
#room .whiteboard .colors,
#room .whiteboard button {
    float: left;
}
#room .whiteboard button {
    margin-left: 5px;
}

