/** Custom Select button**/
#room .whiteboard .selectBox {
    position:relative;
    display:inline-block;
    cursor:pointer;
    text-align:left;
    line-height:31px;
    margin-left: 5px;
    background-color: #e2e2e2;
    border-radius: .2rem;
}
#room .whiteboard .selected {
    padding: 0 15px 0 10px;
}
#room .whiteboard .options {
    position:absolute;
    top:31px;
    left:0;
    border:1px solid #ccc;
    overflow:hidden;
    display:none;
}

#room .whiteboard .selectBox i.fa-caret-down {
    position: absolute;
    right: 5px;
    top: 7px;
}
#room .whiteboard .options .option {
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    padding: 0 10px 0 10px;
    width:100%;
    border-radius: 0;
}
#room .whiteboard .options .option:hover {
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
}
/** Custom Color Select button**/
#room .whiteboard .selectBox [value='black'] .fa-square {
    color: black;
}
#room .whiteboard .selectBox [value='red'] .fa-square {
    color: red;
}
#room .whiteboard .selectBox [value='blue'] .fa-square {
    color: blue;
}
#room .whiteboard .selectBox [value='green'] .fa-square {
    color: green;
}
#room .whiteboard .selectBox [value='white'] .fa-square {
    color: white;
}
/** Custom Brush Size Select button**/
#room .whiteboard .selectBox [value='1'] hr {
    border-top: 1px solid black;
}
#room .whiteboard .selectBox [value='2'] hr {
    border-top: 2px solid black;
}
#room .whiteboard .selectBox [value='3'] hr {
    border-top: 3px solid black;
}
#room .whiteboard .selectBox [value='5'] hr {
    border-top: 5px solid black;
}
#room .whiteboard .selectBox [value='10'] hr {
    border-top: 10px solid black;
}


/** Button design**/
#room .whiteboard .line-size,
#room .whiteboard .colors,
#room .whiteboard button {
    float: left;
}
#room .whiteboard button {
    margin-left: 5px;
}

