#entrance > div {
    padding: 125px 0;
    width: 980px;
    margin: auto;
}
#entrance .row {
    margin: 0;
    padding: 0 10px;
}
#entrance form > div {
    padding: 5px 0;
}
#entrance [name="username"] {
    padding-left: 20px;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#entrance input[type="submit"] {
    width: 100%;
    height: 50px;
    border-color: #2ecc71;
    font-size: 1.2rem;
    background-color: #2ecc71;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#entrance .left {
    padding-top: 100px;
}
#entrance .title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}
#entrance .desc {
    padding-left: 10px;
}

