header {
    position: relative;
    padding: 5px 10px;
    border-bottom: 2px solid #008ed0;
    height: 125px;
    background-color: #19b5fe;
    color: white;
}
header a {
    display: inline-block;
    margin-left: 15px;
    color: white;
}
header .caption,
header nav {
    display: inline-block;
    padding: 5px 0;
}
header .caption {
    margin-left: 35px;
}
header .caption .logo {
    font-size: 56px;
    line-height: 1.3;
}
header .caption .logo-title {
    display: block;
}
header .header-menu {
    position: absolute;
    top: 17px;
    right: 45px;
}
header .header-menu span {
    display: block;
    text-align: center;
}
