#lobby > div {
    padding: 30px 0;
    max-width: 980px;
    margin: auto;
}
#lobby > div h1 {
    font-size: 2rem;
}
#lobby > div .lobby-header {
    max-width: 500px;
    margin: auto;
    padding: 0 5px;
}
#lobby > div .lobby-header .lobby-menu {
    overflow: hidden;
}
#lobby > div .lobby-header .lobby-menu button {
    float: left;
    margin-bottom: 10px;
}
#lobby > div .lobby-header .lobby-menu .update-username,
#lobby > div .lobby-header .lobby-menu .create-room {
    width: 40%;
}
#lobby > div .lobby-header .lobby-menu .logout {
    width: 20%;
}
#lobby > div .lobby-header .lobby-menu-content .box.username,
#lobby > div .lobby-header .lobby-menu-content .box.join-room {
    background-color: #d8d8d8;
    padding: 15px;
}
#lobby > div .lobby-header .lobby-menu-content input[type='text'],
#lobby > div .lobby-header .lobby-menu-content input[name='username'] {
    width: 58%;
    height: 40px;
    padding-left: 15px;
}
#lobby > div .lobby-header .lobby-menu-content input[type='submit'] {
    float: right;
    width: 40%;
    height: 40px;
}
#lobby .room-list {
    margin: .4em 0;
}
#lobby .room-list .room {
    margin: .1em 0;
    padding: 1em;
    color: #0399e0;
    border: 2px solid #0399e0;
    border-radius: 3px;
    cursor: pointer;
}
#lobby .room-list .room .name {
    padding: .5rem;
    font-weight: bold;
}


@media all and ( min-width: 544px ){
    #lobby > div {
        padding: 100px 0;
    }
}