
#room .chat {
    position: relative;
    border-right: 1px solid #b3b3b3;
}

#room .chat .messages {
    overflow: hidden;
    overflow-y: scroll;
    height: 100px;
    background-color: #efefef;
}
#room .chat input { width: 100%; }


#room .chat .users {
    background-color: #d58512;
}


@media all and ( min-width: 546px ) {
    #room .chat {
        width: 246px;
    }
    #room .chat .messages {
        height: 180px;
    }
}
